li {
  display: flex;
  justify-content: space-between;
}

.right-side {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  gap: 5rem;
}

.category,
.current-chapter {
  color: var(--gray-clr);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.author {
  color: var(--secondary-clr);
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: 'Roboto Slab', serif;
}

.option-buttons {
  margin-top: 1.5rem;
}

.option-buttons button {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
  color: var(--secondary-clr);
  text-transform: capitalize;
}

.option-buttons button:not(:last-child) {
  border-right: 1px solid #e8e8e8;
}

.option-buttons button:not(:first-child) {
  padding: 0 1.5rem;
}

.option-buttons button:first-child {
  padding-right: 1.5rem;
}

.book-progress {
  display: flex;
  text-align: center;
  font-size: 3rem;
  padding-right: 5rem;
  border-right: 1px solid #e8e8e8;
}

.circle {
  width: 90px;
}

.percentage {
  padding: 1rem;
}

.completed {
  color: var(--gray-clr);
  font-size: 1.5rem;
  display: block;
}

.book-chapters {
  margin-right: 10rem;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto Slab', serif;
}

.current-chapter {
  text-transform: uppercase;
}

.progress-btn {
  background-color: var(--primary-clr);
  color: var(--white-clr);
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  border-radius: 4px;
  transition: 0.4s;
  margin-top: 2rem;
}

.progress-btn:focus,
.progress-btn:hover {
  background-color: var(--secondary-clr);
}

@media screen and (max-width: 1250px) {
  .book-chapters {
    margin-right: 0;
  }
}

@media screen and (max-width: 1400px) {
  .title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  ul {
    display: flex;
    flex-direction: column;
  }

  li {
    flex-wrap: wrap;
    gap: 4rem;
    align-items: center;
  }

  .left-side {
    width: 100%;
    text-align: center;
  }

  .right-side {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .book-progress {
    border: none;
  }
}
